
 <table style="margin-left:400px;border:dotted 2px red; ">
     <tr>
         <td>Numer dokumentu:</td>
         <td>{{{numer}}} </td>
     </tr>
     <tr>
         <td>Data wystawienia:</td>
<!--         <td>{{{dateBuy}}}</td>-->
         <td>{{{dateBuy}}}</td>
     </tr>
     <tr>
         <td>Data dostawy/wykonania usługi: </td>
         <td>{{{dateBuy}}}</td>
     </tr>
 </table>