



<p style="text-align: right;"><h3 style="letter-spacing: 3px;">Sprzedawca:</h3></p>
<p>BRONDA SPÓWKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ</p>
<p>ul.Henrika Siemiradzkiego 19/1</p>
<p>31-137 Kraków</p>
<p>NIP 6762567606</p>
<p>Nr rachunku 000000000</p><br/>
