html, body {
    margin: 0;
}

.kontener {
    height: 200vh;
    padding-right: 20px;
    background-color: antiquewhite;
}

.ekran1 {
    height: 100vh;
    background-color: #ccc;
}

.ekran2 {
    height: 100vh;
}

.ekran21 {
    height: 50vh;
}

.ekran22-footer {
    background-color: chartreuse;
    height: 50vh;
}